<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title> 메뉴 수정 </title>
</head>
<body>
	<form name = "change_menu" method="POST" action="http://127.0.0.1:5000/change_menu/change">
		{% if ((menu_data == 0) and (name==0)): %}
			<label for="mName">메뉴이름:</label><br>
			<input id="name" name="name"  type="text" value="" required/><br>
			<label for="mImg">이미지:</label><br>
			<input id="img" name="img" type="text" value="" required/><br>
			<label for="mPrice">가격:</label><br>
			<input id="price" name="price" type="number" value="" required/><br>
			<label for="mDesc">설명:</label><br>
			<input id="desc" name="desc" type="text" value="" required/><br>
			<label for="mWeight">중량:</label><br>
			<input id="weight" name="weight" type="number" value="" required/><br>
			<label for="mKcal">열량:</label><br>
			<input id="kcal" name="kcal" type="number" value="" required/><br>		
			<label for="mProteinG">단백질(g):</label><br>
			<input id="protein_g" name="protein_g" type="number" value="" required/><br>
			<label for="mProteinPct">단백질(%):</label><br>
			<input id="protein_pct" name="protein_pct" type="number" value="" required/><br>
			<label for="mSodiumG">나트륨(g):</label><br>
			<input id="sodium_g" name="sodium_g" type="number" value="" required/><br>		
			<label for="mSodiumPct">나트륨(%):</label><br>
			<input id="sodium_pct" name="sodium_pct" type="number" value="" required/><br>
			<label for="mSugar">당:</label><br>
			<input id="sugar" name="sugar" type="number" value="" required/><br>
			<label for="mSatfatG">포화지방(g):</label><br>
			<input id="satfat_g" name="satfat_g" type="number" value="" required/><br>		
			<label for="mSatfatPct">포화지방(%):</label><br>
			<input id="satfat_pct" name="satfat_pct" type="number" value="" required/><br>
			<label for="mCaff">카페인:</label><br>
			<input id="caff" name="caff" type="number" value="" required/><br>
			<label for="mAllergy">알러지정보:</label><br>
			<input id="allergy" name="allergy"  type="text" value="" required/><br>
		{% elif (menu_data==0): %}
			* {{name[0]}}이(가) {{name[1]}}(으)로 수정되었습니다.
		{% else %}
			{% for i in menu_data %}
			<label for="mName">메뉴이름:</label><br>
			<input id="name" name="name"  type="text" value="{{i[0]}}" required /><br>
			<label for="mImg">이미지:</label><br>
			<input id="img" name="img" type="text" value="{{i[1]}}"/><br>
			<label for="mPrice">가격:</label><br>
			<input id="price" name="price" type="number" value="{{i[2]}}"/><br>
			<label for="mDesc">설명:</label><br>
			<input id="desc" name="desc" type="text" value="{{i[3]}}"/><br>
			<label for="mWeight">중량:</label><br>
			<input id="weight" name="weight" type="number" value="{{i[4]}}"/><br>
			<label for="mKcal">열량:</label><br>
			<input id="kcal" name="kcal" type="number" value="{{i[5]}}"/><br>		
			<label for="mProteinG">단백질(g):</label><br>
			<input id="protein_g" name="protein_g" type="number" value="{{i[6]}}"/><br>
			<label for="mProteinPct">단백질(%):</label><br>
			<input id="protein_pct" name="protein_pct" type="number" value="{{i[7]}}"/><br>
			<label for="mSodiumG">나트륨(g):</label><br>
			<input id="sodium_g" name="sodium_g" type="number" value="{{i[8]}}"/><br>		
			<label for="mSodiumPct">나트륨(%):</label><br>
			<input id="sodium_pct" name="sodium_pct" type="number" value="{{i[9]}}"/><br>
			<label for="mSugar">당:</label><br>
			<input id="sugar" name="sugar" type="number" value="{{i[10]}}"/><br>
			<label for="mSatfatG">포화지방(g):</label><br>
			<input id="satfat_g" name="satfat_g" type="number" value="{{i[11]}}"/><br>		
			<label for="mSatfatPct">포화지방(%):</label><br>
			<input id="satfat_pct" name="satfat_pct" type="number" value="{{i[12]}}"/><br>
			<label for="mCaff">카페인:</label><br>
			<input id="caff" name="caff" type="number" value="{{i[13]}}"/><br>
			<label for="mAllergy">알러지정보:</label><br>
			<input id="allergy" name="allergy"  type="text" value="{{i[14]}}"/><br>
 		   	<input type="submit" value="수정" name="change_query">
			{% endfor %}
 		{% endif %}
	</form>
	<form name="view_menu_list" action="http://127.0.0.1:5000/change_menu" method="GET" >
		<input type="submit" value="햄버거" name="burger">
		<input type="submit" value="디저트/치킨" name="dessert">
		<input type="submit" value="음료/커피" name="beverage">
	</form>
	<form name="view_detail" action="http://127.0.0.1:5000/change_menu/detail"method="POST">
		{% for i in data %}
		<button type="submit" value={{i[0]}} name="view_name">
		{{ i[0] }} <br> {{ i[1] }}원
		</button><br>
		{% endfor %}
	</form>
</body>
</html>
