<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Delete Menu  </title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/menu_manage.css')}}">
	<script src="{{ url_for('static', filename='js/menu_manage.js')}}" defer></script>
</head>
<body>
	<header>
        <button onClick="location.href='http://127.0.0.1:5000/manage_menu/'" class="back_btn" >
            <img src="{{ url_for('static', filename='img/back.png')}}" alt="">
        </button>
        <div class="logo">롯데리아 - <span>관리자</span> [1/1]</div>
        <div class="right_btn">
            <!-- order_manage.html(주문확인) 경로설정 필요 -->
            <button onClick="location.href='http://127.0.0.1:5000/manage_order/orders'" class="order_btn">주문확인</button>
            <!-- stock_manage.html(재고관리) 경로설정필요 -->
            <button onClick="location.href='http://127.0.0.1:5000/manage_order/stock'" class="stock_btn">재고관리</button>
        </div>
    </header>
    <main>
        <div class="ad">
            <img src="{{ url_for('static', filename='img/lotteria2.png')}}" alt="">
        </div>
        <div class="container">
            <div class="container_top">
                <div class="container_manage">
                    <div class="menu_manage_btn">
                        <button class="add_btn" onClick="location.href='http://127.0.0.1:5000/add_menu'">메뉴 추가</button>                      
                        <button class="change_btn" onClick="location.href='http://127.0.0.1:5000/change_menu'">메뉴 수정</button>
                        <button class="remove_btn" onClick="location.href='http://127.0.0.1:5000/delete_menu'">메뉴 삭제</button>
                    </div>
					<form class="container_describe" name = "delete_menu" method="POST" action="http://127.0.0.1:5000/delete_menu/delete">
					{% if ((menu_data == 0) and (name==0)) %}
                    <div class="input_container">
                    	<div class="container_display">
                    		<div class="input_container_left">
                    			<div id="image_container"></div>
                                <input type="file" id ="image" accept="image/*" onchange="setThumbnail(event);" class="input_img" name="img">
                             </div>
                            <div class="input_container_middle">
                                <div class="input_1">
                                    <label for="mName">메뉴이름:</label>
                                    <input id="name" name="name"  type="text" value="" required/><br>
                                    <label for="mPrice">가격:</label>
                                    <input id="price" name="price" type="number" value="" required/><br>
                                </div>
                                <div class="input_2">
                                    <label for="mDesc">설명:</label>
                                    <input id="desc" name="desc" type="text" value="" required/><br>
                                </div>
                                <div class="input_3">
                                    <label for="mWeight">중량:</label>
                                    <input id="weight" name="weight" type="number" value="" required/><br>
                                    <label for="mKcal">열량:</label>
                                    <input id="kcal" name="kcal" type="number" value="" required/><br>
                                    <label for="mProteinG">단백질(g):</label>
                                    <input id="protein_g" name="protein_g" type="number" value="" required/><br>
                                    <label for="mProteinPct">단백질(%):</label>
                                    <input id="protein_pct" name="protein_pct" type="number" value="" required/><br>
                                    <label for="mSodiumG">나트륨(g):</label>
                                    <input id="sodium_g" name="sodium_g" type="number" value="" required/><br>
                                    <label for="mSodiumPct">나트륨(%):</label>
                                    <input id="sodium_pct" name="sodium_pct" type="number" value="" required/><br>
                                </div>
                                <div class="input_4">
                                    <label for="mSugar">당:</label>
                                    <input id="sugar" name="sugar" type="number" value="" required/><br>
                                    <label for="mSatfatG">포화지방(g):</label>
                                    <input id="satfat_g" name="satfat_g" type="number" value="" required/><br>	
                                    <label for="mSatfatPct">포화지방(%):</label>
                                    <input id="satfat_pct" name="satfat_pct" type="number" value="" required/><br>
                                    <label for="mCaff">카페인:</label>
                                    <input id="caff" name="caff" type="number" value="" required/><br>
                                </div>
                                <div class="input_5">
                                    <label for="mAllergy">알러지정보:</label>
                                    <input id="allergy" name="allergy"  type="text" value="" required/><br>
                                </div>
                            </div>
                         </div>
                    </div>
                {% elif (menu_data==0): %}
                <div class="manage_describe">
                    * {{name}}이(가) 삭제되었습니다. 
                </div>
				{% else %}
					{% for i in menu_data %}
                    <div class="input_container">
                    	<div class="container_display">
                    		<div class="input_container_left">
                    			<div id="image_container"> <img src="{{i[1]}}"> </div>
                             </div>
                            <div class="input_container_middle">
                                <div class="input_1">
                                    <label for="mName">메뉴이름:</label>
                                    <input id="name" name="name"  type="text" value="{{i[0]}}" required/><br>
                                    <label for="mPrice">가격:</label>
                                    <input id="price" name="price" type="number" value="{{i[2]}}"/><br>
                                </div>
                                <div class="input_2">
                                    <label for="mDesc">설명:</label>
                                    <input id="desc" name="desc" type="text" value="{{i[3]}}"/><br>
                                </div>
                                <div class="input_3">
                                    <label for="mWeight">중량:</label>
                                    <input id="weight" name="weight" type="number" value="{{i[4]}}"/><br>
                                    <label for="mKcal">열량:</label>
                                    <input id="kcal" name="kcal" type="number" value="{{i[5]}}"/><br>
                                    <label for="mProteinG">단백질(g):</label>
                                    <input id="protein_g" name="protein_g" type="number" value="{{i[6]}}"/><br>
                                    <label for="mProteinPct">단백질(%):</label>
                                    <input id="protein_pct" name="protein_pct" type="number" value="{{i[7]}}"/><br>
                                    <label for="mSodiumG">나트륨(g):</label>
                                    <input id="sodium_g" name="sodium_g" type="number" value="{{i[8]}}"/><br>
                                    <label for="mSodiumPct">나트륨(%):</label>
                                    <input id="sodium_pct" name="sodium_pct" type="number" value="{{i[9]}}"/><br>
                                </div>
                                <div class="input_4">
                                    <label for="mSugar">당:</label>
                                    <input id="sugar" name="sugar" type="number" value="{{i[10]}}"/><br>
                                    <label for="mSatfatG">포화지방(g):</label>
                                    <input id="satfat_g" name="satfat_g" type="number" value="{{i[11]}}"/><br>	
                                    <label for="mSatfatPct">포화지방(%):</label>
                                    <input id="satfat_pct" name="satfat_pct" type="number" value="{{i[12]}}"/><br>
                                    <label for="mCaff">카페인:</label>
                                    <input id="caff" name="caff" type="number" value="{{i[13]}}"/><br>
                                </div>
                                <div class="input_5">
                                    <label for="mAllergy">알러지정보:</label>
                                    <input id="allergy" name="allergy"  type="text" value="{{i[14]}}"/><br>
                                </div>
                            </div>
                            <div class="input_container_right">
                                <input type="button" value="삭제" class="submit_btn" id = "delete_btn" name="delete_query">
                            </div> 
	               		</div>
            	    </div>
					{% endfor %}
 				{% endif %}
            </form>
        	</div>
            <div class="categories_btn">
            	<form name="view_menu_list" action="http://127.0.0.1:5000/delete_menu/" method="GET" >
					<button class="category burger"  value="햄버거"  name="burger"> 햄버거 </button>
					<button class = "category dessert" value="디저트/치킨" data-filter="dessert" name="dessert"> 디저트/치킨 </button>
					<button class="category drink" value="음료/커피" data-filter="drink" name="beverage"> 음료/커피 </button> 
                </form>
            </div>
        </div>
        <div class="container_bottom">
            <div class="menu_container">
            	<form class="menus" name="view_detail" action="http://127.0.0.1:5000/delete_menu/detail"method="POST">
            	        {% for i in data %}
						<button class="menu" name="view_name" value={{i[0]}} >
							<div class="menu_name">{{ i[0] }}</div>
                           	<div class="menu_price">{{ i[1] }}</div>
						</button>
                        {% endfor %}
               	</form>
            </div>
        </div>
	</main>

	<footer>
		<div></div>
	</footer>

</body>
</html>
