@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Noto+Sans+KR:wght@400;700;900&display=swap");

:root {
  /* color */
  --color-black: #212121;
  --color-wihte: #fafafa;
  --color-red: #b71c1c;
  --color-lightgray: #e0e0e0;
  --color-gray: #bdbdbd;
  --color-darkgray: #757575;
  --color-orange: #ffa726;
  --color-darkorange: #ff6f00;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  display: grid;
  grid-template-rows: 70px 1fr;
}

main {
  background-color: var(--color-wihte);
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: 70px 1fr 8px;
}

main div {
  width: 100%;
}
.right_btn button,
.categories_btn button,
.back_btn {
  height: 50px;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.right_btn button:hover,
.categories_btn button:hover,
.back_btn:hover {
  background-color: var(--color-gray);
  transition: all var(--animation-duration) ease;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
  align-items: center;
}

/* .blank {
  width: 190px;
} */

.back_btn img {
  height: 34px;
  width: 40px;
  padding: 0 7px;
}

.logo {
  color: var(--color-wihte);
  font-size: 28px;
  margin-left: 190px;
}

.logo span {
  font-weight: 600;
}

.right_btn {
  display: flex;
  align-items: center;
}

.stock_btn,
.order_btn {
  font-size: 23px;
  font-weight: 600;
  width: 120px;
}

.stock_btn {
  margin-left: 10px;
}

/* main */
.ad {
  display: flex;
  justify-content: flex-end;
}

.ad img {
  height: 70px;
  margin-right: 20px;
}

.container {
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login */
.login_container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.login_container input {
  height: 48px;
  margin: 15px 0;
  border-radius: 5px;
  font-size: 18px;
}

.submit_btn {
  background-color: var(--color-orange);
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.submit_btn:hover {
  background-color: var(--color-darkorange);
  transition: all var(--animation-duration) ease;
}

/* footer */
footer div {
  background-color: var(--color-black);
  width: 100%;
  height: 10px;
}
