@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Noto+Sans+KR:wght@400;700;900&display=swap");

:root {
  /* color */
  --color-black: #212121;
  --color-wihte: #fafafa;
  --color-red: #b71c1c;
  --color-lightgray: #e0e0e0;
  --color-gray: #bdbdbd;
  --color-darkgray: #757575;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  display: grid;
  grid-template-rows: 70px 1fr;
}

main {
  background-color: var(--color-wihte);
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: 70px 1fr 8px;
}

main div {
  width: 100%;
}
.right_btn button,
.categories_btn button,
.back_btn,
.menu_manage_btn button {
  height: 50px;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.right_btn button:hover,
.categories_btn button:hover,
.back_btn:hover,
.menu_manage_btn button:hover,
.add_btn.clicked,
.change_btn.clicked,
.remove_btn.clicked {
  background-color: var(--color-gray);
  transition: all var(--animation-duration) ease;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
  align-items: center;
}

.back_btn img {
  height: 34px;
  width: 40px;
  padding: 0 7px;
}

.logo {
  color: var(--color-wihte);
  font-size: 28px;
  margin-left: 100px;
}

.logo span {
  font-weight: 600;
}

.right_btn {
  display: flex;
  align-items: center;
}

.stock_btn {
  font-size: 23px;
  font-weight: 600;
  width: 120px;
}

.manager_btn {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

.manager_btn img {
  height: 34px;
  width: 34px;
}

/* main */
.ad {
  display: flex;
  justify-content: flex-end;
}

.ad img {
  height: 70px;
  margin-right: 20px;
}

.container {
  background-color: var(--color-red);
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.container_top {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category.selected {
  background-color: var(--color-gray);
}

.discribe {
  font-size: 28px;
  font-weight: 600;
}

.categories_btn button {
  width: 350px;
  height: 65px;
  font-size: 30px;
  font-weight: 600;
  margin: 0 30px;
  border: none;
}

/* menu manage btn */
.container_manage {
  display: flex;
}

.menu_manage_btn {
  width: 350px;
  margin: 10px 10px;
  display: flex;
}

.menu_manage_btn button {
  margin-left: 20px;
  height: 40px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  border-color: transparent;
}
/* input container */
.input_container_left {
  height: 200px;
  width: 200px;
  margin: 0;
}

.input_container {
  height: 200px;
  background-color: var(--color-wihte);
  margin: 8px 15px;
  max-width: 1400px;
  padding: 10px;
  border-radius: 5px;
  display: none;
  padding-bottom: 2px;
}

.container_display {
  display: flex;
}

.input_container_right {
  width: 100px;
}

.input_container_right input {
  width: 90px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--color-wihte);
  border-radius: 10px;
}

.input_container_right input:hover {
  background-color: var(--color-gray);
  transition: all var(--animation-duration) ease;
}

.input_container_middle label {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
}

.input_container_middle input {
  font-size: 18px;
  margin-right: 8px;
}

.input_1,
.input_2,
.input_3,
.input_4,
.input_5 {
  display: flex;
  margin: 5px;
  height: 34px;
}

.input_1 input {
  width: 150px;
}

.input_3 input,
.input_4 input {
  width: 80px;
}

.input_img {
  width: 180px;
  cursor: pointer;
}

#image_container {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  background-color: var(--color-black);
  margin-bottom: 5px;
}

#image_container img {
  width: 170px;
  height: 170px;
}

#desc {
  width: 1050px;
}

#allergy {
  width: 1000px;
}

/* container bottom */
.container_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_container {
  background-color: var(--color-wihte);
  width: 75%;
  height: 90%;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 9fr 1fr;
}

.menus {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  cursor: pointer;
  border: none;
  margin: 20px 25px;
  padding: 10px;
  height: 100px;
  width: 220px;
  background-color: var(--color-lightgray);
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  display: none;
}

.menu:hover {
  background-color: gray;
  transition: all var(--animation-duration) ease;
}

.menu.visible {
  display: block;
}

.menu_price {
  color: var(--color-red);
  font-size: 600;
}

.discribe_red {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-red);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* footer */
footer div {
  background-color: var(--color-black);
  width: 100%;
  height: 10px;
}
