@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Noto+Sans+KR:wght@400;700;900&display=swap");

:root {
  /* color */
  --color-black: #212121;
  --color-wihte: #fafafa;
  --color-red: #b71c1c;
  --color-lightgray: #e0e0e0;
  --color-gray: #bdbdbd;
  --color-darkgray: #757575;
  --color-orange: #ffa726;
  --color-darkorange: #ff6f00;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  display: grid;
  grid-template-rows: 70px 1fr;
}

main {
  background-color: var(--color-wihte);
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: 70px 1fr 8px;
}

main div {
  width: 100%;
}
.right_btn button,
.categories_btn button,
.back_btn {
  height: 50px;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.right_btn button:hover,
.categories_btn button:hover,
.back_btn:hover {
  background-color: var(--color-gray);
  transition: all var(--animation-duration) ease;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
  align-items: center;
}

.back_btn img {
  height: 34px;
  width: 40px;
  padding: 0 7px;
}

.logo {
  color: var(--color-wihte);
  font-size: 28px;
  margin-left: 190px;
}

.logo span {
  font-weight: 600;
}

.right_btn {
  display: flex;
  align-items: center;
}

.stock_btn,
.order_btn {
  font-size: 23px;
  font-weight: 600;
  width: 120px;
}

.stock_btn {
  margin-left: 10px;
}

/* main */
.ad {
  display: flex;
  justify-content: flex-end;
}

.ad img {
  height: 70px;
  margin-right: 20px;
}

.container {
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.container_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category_btn {
  width: 300px;
  height: 70px;
  border-radius: 5px;
  outline: none;
  border-color: transparent;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  margin: 20px auto;
}

.category_btn:hover {
  background-color: gray;
  transition: all var(--animation-duration) ease;
}

.category_btn.selected {
  background-color: gray;
}

.container_right {
  display: grid;
  grid-template-rows: 70px 1fr 80px;
  padding: auto;
}

.submit_btn:hover {
  background-color: var(--color-darkorange);
  transition: all var(--animation-duration) ease;
  height: 50px;
}

/* container top */
.container_top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1200px;
}

.date {
  height: 36px;
  width: 200px;
  font-size: 17px;
}

.find_menu {
  height: 40px;
  width: 300px;
  border: 1px solid black;
  background-color: var(--color-wihte);
  margin-left: 20px;
}

.menu_input {
  font-size: 16px;
  width: 225px;
  padding: 10px;
  border: 0;
  outline: none;
  float: left;
}

.menu_btn {
  width: 50px;
  height: 100%;
  border: 0;
  background-color: black;
  outline: none;
  float: right;
  color: var(--color-wihte);
  cursor: pointer;
}

/* table */
.container_middle {
  width: 1200px;
}

table {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--color-wihte);
}

th,
td {
  border: 1px solid var(--color-gray);
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  height: 45px;
}

th {
  background-color: var(--color-lightgray);
}

.th_1,
.th_3,
.th_4 {
  width: 200px;
}

/* contaier bottom */
.container_bottom {
  display: flex;
  justify-content: space-between;
}

.total_container {
  display: flex;
  width: 900px;
  height: 50px;
  background: var(--color-wihte);
  justify-content: center;
  align-items: center;
}

.describe,
.total {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.describe {
  background-color: var(--color-gray);
  height: 100%;
}

.total .money {
  color: var(--color-red);
}

.page_container {
  width: 100%;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.page_middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tri {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.tri:hover {
  transform: scale(1.2);
  transition: all var(--animation-duration) ease;
}

.tri img {
  height: 30px;
}

.page {
  font-size: 28px;
  width: 80px;
  text-align: center;
}

/* footer */
footer div {
  background-color: var(--color-black);
  width: 100%;
  height: 10px;
}
