<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/menu.css') }}"
		/>
        <link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
			integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="{{ url_for('static', filename='js/menu.js') }}"
			defer
		></script>
        

		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}"> 
        <script src="{{ url_for('static', filename='js/menu.js') }}" defer></script> -->
		<title>MENU</title>
	</head>
	<body>
		<div class="container">
			<!-- ad -->
			<header class="ad" data-path_info="{{ url_for('order.fetch_info') }}">
				<img
					src="{{ url_for('static', filename='img/ad/military.png') }}"
					alt="ad"
					class="ad_img"
				/>
			</header>

			<!-- categories -->
			<div class="category">
				<button class="category_btn" data-filter="best">
					추천메뉴
				</button>
				<button class="category_btn selected" data-filter="hamburger">
					햄버거
				</button>
				<button class="category_btn" data-filter="dessert">
					디저트/치킨
				</button>
				<button class="category_btn" data-filter="drink">
					음료/커피
				</button>
			</div>

			<!-- menus -->
			<div class="menu_container">
				<!-- best -->
				{% for recom in recommends %}
				<button class="menu" data-type="best" data-id="{{ recom['id'] }}">
					<img
						src="{{ recom['image_path'] }}"
						alt=""
						class="menu_thumnail hamburger"
					/>
					<div>
						<h2 class="menu_name">{{ recom['name'] }}</h2>
						<h2 class="menu_price">{{ recom['price'] }}</h2>
					</div>
				</button>
				{% endfor %}
				<!-- hamburger -->
				{% for burger in burgers %}
				<button class="menu" data-type="hamburger" data-id="{{ burger['id'] }}">
					<img
						src="{{ burger['image_path']|safe }}"
						alt=""
						class="menu_thumnail hamburger"
					/>
					<div>
						<h2 class="menu_name">{{ burger['name'] }}</h2>
						<h2 class="menu_price">{{ burger['price'] }}</h2>
					</div>
				</button>
				{% endfor %}
				
				<!-- drink -->
				{% for drink in drinks %}
				<button class="menu" data-type="drink" data-id="{{ drink['id'] }}">
					<img
						src="{{ drink['image_path'] }}"
						alt=""
						class="menu_thumnail drink"
					/>
					<div>
						<h2 class="menu_name">{{ drink['name'] }}</h2>
						<h2 class="menu_price">{{ drink['price'] }}</h2>
					</div>
				</button>
				{% endfor %}

				{% for dessert in desserts %}
				<!-- dessert -->
				<button class="menu" data-type="dessert" data-id="{{ dessert['id'] }}">
					<img
						src="{{ dessert['image_path'] }}"
						alt=""
						class="menu_thumnail dessert"
					/>
					<div>
						<h2 class="menu_name">{{ dessert['name'] }}</h2>
						<h2 class="menu_price">{{ dessert['price'] }}</h2>
					</div>
				</button>
				{% endfor %}
			</div>

			<!-- The Modal -->
			<div id="myModal" class="modal">
				<!-- Modal content -->
				<div class="modal_content">
					<div class="modal_top">
						<div class="modal_question">세트로 드시겠어요?</div>
						<div class="modal_close">
							<!-- x표시를 항상 박스 정가운데에 놓이게 하기 위해 div 추가 -->
							<!-- <div class="modal_close_x">&times;</div> -->
                            <i class="fas fa-times"></i>
						</div>
					</div>
					<div class="modal_bottom">
						<div class="burger_only">
							<button class="burger_btn only">
								<img
									src="{{ url_for('static', filename='img/icon/burger.png') }}"
									alt=""
									class="burger_img"
								/>
								<div class="burger_name">버거만</div>
							</button>
							<div class="burger_price only"></div>
						</div>
						<div class="burger_set">
							<button class="burger_btn set">
								<img
									src="{{ url_for('static', filename='img/icon/burger_set.png') }}"
									alt=""
									class="burger_img"
								/>
								<div class="burger_name">세트</div>
							</button>
							<div class="burger_price set"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- ***Modal Set  -->
			<div id="modal_set" class="modal">
				<div class="modal_content set">
					<div class="modal_top set">
						<div class="modal_question set">
							세트디저트 1개를 선택해 주세요
						</div>
						<div class="modal_close_set">
							<!-- x표시를 항상 박스 정가운데에 놓이게 하기 위해 div 추가 -->
							<!-- <div class="modal_close_x">&times;</div> -->
							<i class="fas fa-times"></i>
						</div>
					</div>
					<div class="modal_category">
						<button
							class="modal_category_btn dessert selected"
							data-filter="set_dessert"
						>
							세트_디저트
						</button>
						<button
							class="modal_category_btn drink"
							data-filter="set_drink"
						>
							세트_드링크
						</button>
					</div>
					<div class="modal_menu_set">
						{% for set_dessert in set_desserts %}
						<button class="menu_set" data-type="set_dessert">
							<img
								src="{{ set_dessert['image_path'] }}"
								alt=""
								class="menu_set_thumnail dessert"
							/>
							<div>
								<h2 class="menu_dessert_name">{{ set_dessert['name'] }}</h2>
								<h2 class="menu_dessert_price">{{ set_dessert['opt_price'] }}</h2>
							</div>
						</button>
						{% endfor %}
	

						<!-- set_drink -->
						{% for set_drink in set_drinks %}
						<button class="menu_set" data-type="set_drink">
							<img
								src="{{ set_drink['image_path'] }}"
								alt=""
								class="menu_set_thumnail drink"
							/>
							<div>
								<h2 class="menu_drink_name">{{ set_drink['name'] }}</h2>
								<h2 class="menu_drink_price">{{ set_drink['opt_price'] }}</h2>
							</div>
						</button>
						{% endfor %}
					</div>
					<div class="modal_bottom_set">
						<div class="modal_num">
							<div class="modal_num_choice">
								<div class="dot"></div>
								<div class="many">
									<span>선택수량 :&nbsp;</span><span>0</span>
								</div>
							</div>
							<div class="modal_num_left">
								<div class="dot"></div>								
								<div class="many">
									<span>잔여수량 :&nbsp;</span><span>2</span>
								</div>
							</div>
						</div>
						<button class="modal_set_btn no">취소하기</button>
						<button class="modal_set_btn yes">선택완료</button>
					</div>
				</div>
			</div>

			<!-- shopping list -->
			<footer class="list">
				<!-- check -->
				<div class="check">
					<h1>총 주문 내역</h1>
					<div class="check_num_contain">
						<h1 class="check_num">0</h1>
						<h1>개</h1>
					</div>
					<h1 class="check_price">0</h1>
				</div>
				<!-- basket -->
				<div class="basket">
					<ul class="basket_items">
						<!-- li 태그 클래스 삭제 -->
						<!-- 장바구니에 담기는 모습 예시 -->
						<!-- <li>
							<div class="li_wrapper">
								<h3 class="item_name">새우버거 세트</h3>
								<div class="item_amount">
									<h3>1</h3>
									<div>
										<button class="item_numup">&xutri;</button>
										<button class="item_numdown">&xdtri;</button>
									</div>
								</div>
								<div class="item_price">
									<h3>6,400</h3>
									<button>삭제</button>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
				<!-- order -->
				<div class="order">
					<div class="icons">
						<div class="icon">
							<img
								src="{{ url_for('static', filename='img/icon/disabled.png') }}"
								alt=""
								class="icon_img disabled"
							/>
						</div>
						<div class="icon">
							<img
								src="{{ url_for('static', filename='img/icon/magnifier.png') }}"
								alt=""
								class="icon_img magnifier"
							/>
						</div>
						<div class="icon">
							<img
								src="{{ url_for('static', filename='img/icon/volume.png') }}"
								alt=""
								class="icon_img volume"
							/>
						</div>
						<button
							type="button"
							onClick="location.href='{{ url_for('order.payment') }}'"
							class="icon"
						>
							<img
								src="{{ url_for('static', filename='img/icon/back.png') }}"
								alt=""
								class="icon_img back"
							/>
						</button>
					</div>
					<div class="btns">
						<button
							type="button"
							onClick="location.href='{{ url_for('order.payment') }}'"
							class="order_cancle_btn"
							id="cancle_btn"
						>
							취소하기
						</button>
						<button class="order_order_btn" id="to_charge" data-path="{{ url_for('order.charge') }}">
							결제하기
						</button>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
