<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/kiosk/static/css/number.css"> 
    <title>Waiting number</title>
</head>
<body>
    <div class="container">
        <div class="container_top">
            <div class="top_left">
                주문하신<br>제품이 나왔습니다.<br>Order No.
            </div>
            <div class="top_right">
                제품을<br>준비중 입니다.<br>In progress
            </div>
        </div>
        <div class="container_bottom">
            <div class="bottom_left">
                <div class="num_top">
                    <div class="num now">332</div>
                </div>
                <div class="num_bottom">
                    <div class="line_1">
                        <div class="num">128</div>
                        <div class="num">333</div>
                    </div>
                    <div class="line_2">
                        <div class="num">126</div>
                        <div class="num">123</div>
                    </div>
                    
                </div>
            </div>
            <div class="bottom_right">
                <div class="right_line1">
                    <div class="num">334</div>
                    <div class="num"></div>
                    <div class="num"></div>
                </div>
                <div class="right_line2">
                    <div class="num"></div>
                    <div class="num"></div>
                    <div class="num"></div>
                </div>
                <div class="right_line3">
                    <div class="num"></div>
                    <div class="num"></div>
                    <div class="num"></div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>