<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="/kiosk/static/css/order_manage.css"> 
    <script src="/kiosk/static/js/order_manage.js" defer></script> 
</head>
<body>
    <header>
        <div class="blank"></div>
        <div class="logo">롯데리아 [1/1]</div>
        <div class="right_btn">
            <!-- stock_manage.html로 경로 설정 필요 -->
            <button onClick="location.href='#'" class="stock_btn">재고관리</button>
            <!-- auth.html 페이지로 경로 설정 필요 -->
            <button onClick="location.href='#'"class="manager_btn">
                <img src="/kiosk/static/img/settings.png" alt="">
            </button>
        </div>
    </header>
    <main>
        <div class="main_top">
            <div class="order_container special" id="num1">
                <div class="container_top">
                    <div class="blank2"></div>
                    <div class="container_name">주문</div>
                    <button class="call_btn">호출</button>
                </div>
                <div class="container_mid">
                    <div class="order_num">334</div>
                    <div class="order_time">14:33</div>
                    <div></div>
                </div>
                <div class="container_menu"></div>
                <div class="container_bottom"></div>
            </div>
            <div class="order_container" id="num2">
                <div class="container_top"></div>
                <div class="container_mid">
                    <div class="order_num"></div>
                    <div class="order_time"></div>
                    <div></div>
                </div>
                <div class="container_menu"></div>
                <div class="container_bottom"></div>
            </div>
            <div class="order_container" id="num3">
                <div class="container_top"></div>
                <div class="container_mid">
                    <div class="order_num"></div>
                    <div class="order_time"></div>
                    <div></div>
                </div>
                <div class="container_menu"></div>
                <div class="container_bottom"></div>
            </div>
            <div class="order_container" id="num4">
                <div class="container_top"></div>
                <div class="container_mid">
                    <div class="order_num"></div>
                    <div class="order_time"></div>
                    <div></div>
                </div>
                <div class="container_menu"></div>
                <div class="container_bottom"></div>
            </div>
        </div>
            
        <div class="main_bottom">
            <div class="order_container" id="num5">
                <div class="container_top"></div>
                <div class="container_mid">
                    <div class="order_num"></div>
                    <div class="order_time"></div>
                    <div></div>
                </div>
                <div class="container_menu"></div>
                <div class="container_bottom"></div>
            </div>
            <div class="order_container" id="num6">
                <div class="container_top"></div>
                <div class="container_mid">
                    <div class="order_num"></div>
                    <div class="order_time"></div>
                    <div></div>
                </div>
                <div class="container_menu"></div>
                <div class="container_bottom"></div>
            </div>
            <div class="order_container" id="num7">
                <div class="container_top"></div>
                <div class="container_mid">
                    <div class="order_num"></div>
                    <div class="order_time"></div>
                    <div></div>
                </div>
                <div class="container_menu"></div>
                <div class="container_bottom"></div>
            </div>
            <div class="order_container" id="num8">
                <div class="container_top"></div>
                <div class="container_mid">
                    <div class="order_num"></div>
                    <div class="order_time"></div>
                    <div></div>
                </div>
                <div class="container_menu"></div>
                <div class="container_bottom"></div>
            </div>
        </div>

    </main>
</body>
</html>