<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Button</title>
    <link rel="stylesheet" href="/kiosk/static/css/manager_btn.css"> 
</head>
<body>
    <header>
        <button onClick="location.href='#'" class="back_btn" >
            <img src="/kiosk/static/img/back.png" alt="">
        </button>
        <div class="logo">롯데리아 - <span>관리자</span> [1/1]</div>
        <div class="right_btn">
            <!-- order_manage.html(주문확인) 경로설정 필요 -->
            <button onClick="location.href='#'" class="order_btn">주문확인</button>
            <!-- stock_manage.html(재고관리) 경로설정필요 -->
            <button onClick="location.href='#'" class="stock_btn">재고관리</button>
        </div>
    </header>
    <main>
        <div class="ad">
            <img src="/kiosk/static/img/lotteria2.png" alt="">
        </div>
        <div class="container">
           <div class="btn_container">
               <button class="manage_menu_btn">메뉴 변동 관리</button>
               <button class="manage_slae_btn">매출 관리</button>
           </div>
        </div>


    <!-- 재고상태 확인 -->
    </main>
    <footer>
        <div></div>
    </footer>
</body>
</html>